.box-layout{
  align-items: center;
  background: url('/images/bg.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  &__box{
    background: fade-out(white, .15);
    border-radius: 5px;
    padding: $l-size;
    text-align: center;
    width: 30rem;
  }
  &__title{
    line-height: 1;
    margin: 0 0 $m-size;
  }
}