// colors:
$dark-grey: #333;
$blue: #03A9F4;
$dark-blue: #364051;
$off-white: #f7f7f7;
$grey: #666;
//font sizes:
$font-size-large: 1.7rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.1rem;
$m-size: 1.4rem;
$l-size: 2.3rem;
$xl-size: 4rem;
$desktop-breakpoint: 45rem;
